<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django ni bos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Django</h1>

    <table class="table">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama</th>
        <th scope="col">Kelas</th>
        <th scope="col">Jurusan</th>
        <th scope="col">Aksi</th>
      </tr>
      {% for data in murid %}
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.nama }}</td>
        <td>{{ data.kelas }}</td>
        <td>{{ data.jurusan }}</td>
        <td>
          <a href="/murid/{{ data.id }}" class="btn btn-danger">Hapus</a>
          <a href="/murid/update/{{ data.id }}" class="btn btn-success"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>

    <form action="/murid/add" method="post">
      {% csrf_token %}
      <input class="form-control" type="text" name="nama" />
      <input class="form-control" type="text" name="kelas" />
      <input class="form-control" type="text" name="jurusan" />
      <button class="btn btn-danger" type="submit">tambah</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
